// Generic
$white: rgb(255, 255, 255); // #FFF
$black: rgb(0, 0, 0); // #000

// Black
$black-1: rgb(13, 11, 19); // #0D0B13
$black-2: rgb(21, 18, 28); // #15121C
$black-3: rgb(33, 28, 43); // #211C2B
$black-4: rgb(42, 36, 56); //#2A2438

// Gray
$gray-1: rgb(71, 66, 102); // #474266
$gray-2: rgb(127, 124, 169); // #7F7CA9
$gray-3: rgb(165, 162, 195); // #A5A2C3

$red: rgb(255, 82, 82); // #FF5252
